:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.85);
  background-color: #020110;
  scrollbar-width: none;
}

body {
  margin: 0;
  font-size: 16px;
  background-color: #020110 !important;
  color: rgba(255, 255, 255, 0.85);
}
* {
  box-sizing: border-box;
  transition: linear all 0.3s;
}

.border-black {
  border: 1px solid black;
}

.f-8 {
  font-size: 8px !important;
}
.f-10 {
  font-size: 10px !important;
}
.f-12 {
  font-size: 12px !important;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.cursor {
  cursor: pointer;
}
.monospace {
  font-family: "Courier New", Courier;
}
.italics {
  font-style: italic;
}
.capitalize {
  text-transform: capitalize;
}

.hidden-up {
  transform: translateY(40px) !important;
  opacity: 0 !important;
}
.slower {
  transition: transform 0.6s linear, opacity 0.6s linear !important;
}

.bg-darky {
  background-color: rgba(255, 255, 255, 0.15);
}
.bg-blueish {
  background-color: rgb(18, 17, 33);
}
.bg-snow {
  background-color: mediumslateblue;
}
.text-darky {
  color: rgba(255, 255, 255, 0.15);
}
.text-snow {
  color: mediumslateblue;
}
.btn-darky {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid mediumslateblue;
}
.btn-snow {
  background-color: mediumslateblue;
}

.shadow-snow {
  box-shadow: 0 0 30px rgba(124, 104, 238, 0.15);
}

.border-snow {
  border: 1px solid mediumslateblue;
}
.border-dark {
  border: 2px solid silver;
}

.flex-scroll {
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  gap: 35px;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  padding: 15px 15%;
  cursor: pointer;
  > * {
    flex: 0 0 70%;
    scroll-snap-align: center;
  }
}

button {
  border-radius: 7.5px !important;
  padding: 3px 10px;
  font-weight: bold;
  font-family: inherit;
  font-size: 14px !important;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  &:focus {
    filter: brightness(0.75);
  }
  &:disabled {
    filter: brightness(0.5);
  }
}

input,
textarea, select {
  border-radius: 5px !important;
  padding: 5px 10px;
  font-weight: bold;
  font-family: inherit;
  font-size: 14px !important;
  color: white;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1.5px solid gray;
  &:focus {
    border-color: darkslateblue;
  }
}

.max-400 {
  max-width: 400px;
}
.max-600 {
  max-width: 600px;
}
.max-500 {
  max-width: 500px;
}
.max-350 {
  max-width: 350px;
}

.hover-exp {
  &:hover {
    transform: scale(1.075);
  }
}